@model CarrerTrack.Web.ViewModel.UserLoginViewModel

@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CustomUtils {
    <link href="@Url.Content("~/Content/CustomUtils.css")" rel="stylesheet" />
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed, check your credentials")
    {
        <div>
            <fieldset>
                <div class="editor-label">@Html.LabelFor(u => u.Email)</div>
                <div class="editor-field">
                    @Html.TextBoxFor(u => u.Email)
                    @Html.ValidationMessageFor(u => u.Email)
                </div>

                <div class="editor-label">@Html.LabelFor(u => u.Password)</div>
                <div class="editor-field">
                    @Html.PasswordFor(u => u.Password)
                    @Html.ValidationMessageFor(u => u.Password)
                </div>

              
            </fieldset>
        </div>
    }
    <script src="~/Scripts/jquery-1.10.2.js"></script>


    <div id="divLoader" style="display:none;">
        <img src="~/Content/Images/Loading/ajax-loader.gif" alt="Loader" style="  position: absolute;
  /*width: 300px;
  height: 200px;*/
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: red;" />
    </div>


    <input type="submit" id="btnSubmit" value="Log In" class="btn btn-primary"/>

    <script>

   $("#btnSubmit").click(function () {

         $("#divLoader").show();
       //https://social.technet.microsoft.com/wiki/contents/articles/34928.enable-ajax-loader-in-asp-net-mvc-5-step-by-step.aspx
        //$.ajax({

        //    url: '/Test/Submit',

        //    dataType: "json",

        //    type: "POST",

        //    contentType: 'application/json; charset=utf-8',

        //    data: {},

        //    //async: true,

        //    //processData: false,

        //   // cache: false,

        //    success: function (data) {

        //        $("#divLoader").hide();

        //        alert(data);

        //    },

        //    error: function (xhr) {

        //        $("#divLoader").hide();

        //        alert('error');

        //    }

        //})

    });

    </script>
}
