@model CarrerTrack.Web.Model.InterviewQuestion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CustomUtils {
    <link href="@Url.Content("~/Content/CustomUtils.css")" rel="stylesheet" />
}

<br/>
<h3>Are you sure you want to delete this interview question?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerContent)
        </dt>
        @if (Model.AnswerContent != null)
        {
        <dd>
            @Html.DisplayFor(model => model.AnswerContent)
        </dd>
        }
        else
        {
            <dd>
                <p class="fieldInfoNotAvailable">Information not available</p>
            </dd>
        }
        @*<dt>
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="btn-group" aria-label="..." role="group">
                <input type="submit" value="Delete" class="btn btn-danger" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>
