@model CarrerTrack.Web.Model.Book

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CustomUtils {
    <link href="@Url.Content("~/Content/CustomUtils.css")" rel="stylesheet" />
}

<br/>

<div>
    <h4>Details of this book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        @if (Model.Author!=null)
        {
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        }
        else
        {
            <dd class="fieldInfoNotAvailable">Authors not available</dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        @if(Model.Description!=null)
        {
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        }
        else
        {
        <dd class="fieldInfoNotAvailable">Description not available</dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.File)
        </dt>
        @if(ViewBag.LinkAvailable)
        {
            <dd>@Html.ActionLink("Download the book", "DownloadBook",new{ id=Model.Id})</dd>
        }
        else
        {
            <dd class="fieldInfoNotAvailable">you have not attached a book</dd>
        }

    </dl>
</div>

<div class="btn-group" role="group" aria-label="...">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id  }, new { @class="btn btn-warning"}) 
    @Html.ActionLink("Back to list", "Index", null, new {@class="btn btn-default" })
</div>
